<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyers List</title>
    <link rel="stylesheet" href="/static/buyers.css">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Buyers List</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <div class="buyers-list">
                <div class="buyer-card">
                    <img src="/static/images/buyer1.jpg" alt="Apple">
                    <h2>Buyer Name 1</h2>
                    <p><strong>Product Required:</strong> Organic Apples</p>
                    <p><strong>Quantity:</strong> 50 kg</p>
                    <p><strong>State:</strong>Kerala</p>
                    <p><strong>District:</strong>kochi</p>
                    <form action="http://127.0.0.1:5000/connect">
                        <button class="connect-btn">Connect</button>
                    </form>
                </div>

                <div class="buyer-card">
                    <img src="/static/images/buyer2.jpg" alt="buger 1" srcset="">
                    <h2>Buyer Name 2</h2>
                    <p><strong>Product Required:</strong> Fresh Tomatoes</p>
                    <p><strong>Quantity:</strong> 30 kg</p>
                    <p><strong>State:</strong>Uttar pradesh</p>
                    <p><strong>District:</strong>lucknow</p>
                    <form action="http://127.0.0.1:5000/connect">
                        <button class="connect-btn">Connect</button>
                    </form>
                </div>

                <div class="buyer-card">
                    <img src="/static/images/buyer3.jpg" alt="Apple">
                    
                    <h2>Buyer Name 3</h2>
                    <p><strong>Product Required:</strong>corn</p>
                    <p><strong>Quantity:</strong> 100 kg</p>
                    <p><strong>State:</strong> Madhya pradesh</p>
                    <p><strong>District:</strong> Indore</p>
                    <form action="http://127.0.0.1:5000/connect">
                        <button class="connect-btn">Connect</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Buyers List. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
